.container {
  max-width: 800px;
}

nav {
  background-color: #ffffff; /* Couleur de fond blanche */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre légère pour la navbar */
}

nav h1 {
  color: #dc2626; /* Couleur rouge pour le titre */
}

nav button {
  background-color: #fbbf24; /* Couleur jaune pour le bouton Login */
  transition: background-color 0.3s ease; /* Transition pour un effet doux */
}

nav button:hover {
  background-color: #f59e0b; /* Couleur jaune plus foncé au survol */
}


ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #fff8e1;
}

button {
  transition: background-color 0.3s ease, transform 0.2s ease-in-out;
}
