<div class="container">
  <h2>Liste des Restaurants</h2>
  
  <button (click)="navigateToAdd()">Ajouter un Restaurant</button>
  
  <div *ngIf="restaurants.length > 0">
    <ul>
      <li *ngFor="let restaurant of restaurants">
        <h3>{{ restaurant.name }}</h3>
        <p>Adresse: {{ restaurant.address }}</p>
        <p>Téléphone: {{ restaurant.phone }}</p>
        <p>Commandes: {{ restaurant.commandes }}</p>
        <p>Service Livraison: {{ restaurant.serviceLivraison }}</p>
      </li>
    </ul>
  </div>
  <div *ngIf="restaurants.length === 0">
    <p>Aucun restaurant disponible.</p>
  </div>
</div>

