<p>restaurant-edit works!</p>
<div class="container mx-auto p-6">
    <h2 class="text-2xl font-semibold mb-4">Modifier le Restaurant</h2>
  
    <form (ngSubmit)="onSubmit()" #editForm="ngForm">
      <div class="mb-4">
        <label for="name" class="block text-gray-700">Nom</label>
        <input type="text" id="name" [(ngModel)]="restaurant.name" name="name" class="form-input" required>
      </div>
      <div class="mb-4">
        <label for="address" class="block text-gray-700">Adresse</label>
        <input type="text" id="address" [(ngModel)]="restaurant.address" name="address" class="form-input" required>
      </div>
      <div class="mb-4">
        <label for="phone" class="block text-gray-700">Téléphone</label>
        <input type="text" id="phone" [(ngModel)]="restaurant.phone" name="phone" class="form-input" required>
      </div>
      <div class="mb-4">
        <label for="commandes" class="block text-gray-700">Commandes</label>
        <input type="text" id="commandes" [(ngModel)]="restaurant.commandes" name="commandes" class="form-input" required>
      </div>
      <div class="mb-4">
        <label for="serviceLivraison" class="block text-gray-700">Service Livraison</label>
        <input type="text" id="serviceLivraison" [(ngModel)]="restaurant.serviceLivraison" name="serviceLivraison" class="form-input" required>
      </div>
      <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-3 rounded">
        Enregistrer
      </button>
    </form>
  </div>
  