<div class="container mx-auto p-6">
  <h2 class="text-2xl font-semibold mb-6 text-red-600">Ajouter un Restaurant</h2>
  
  <form (ngSubmit)="onSubmit()" #restaurantForm="ngForm" class="space-y-4">
    <div class="form-group">
      <label for="name" class="block text-sm font-medium text-red-700">Nom du restaurant:</label>
      <input type="text" id="name" [(ngModel)]="restaurant.name" name="name" required 
             class="mt-1 block w-full p-2 border border-red-300 rounded-md shadow-sm focus:ring-yellow-500 focus:border-yellow-500 sm:text-sm" />
    </div>

    <div class="form-group">
      <label for="address" class="block text-sm font-medium text-red-700">Adresse:</label>
      <input type="text" id="address" [(ngModel)]="restaurant.address" name="address" required 
             class="mt-1 block w-full p-2 border border-red-300 rounded-md shadow-sm focus:ring-yellow-500 focus:border-yellow-500 sm:text-sm" />
    </div>

    <div class="form-group">
      <label for="phone" class="block text-sm font-medium text-red-700">Téléphone:</label>
      <input type="text" id="phone" [(ngModel)]="restaurant.phone" name="phone" required 
             class="mt-1 block w-full p-2 border border-red-300 rounded-md shadow-sm focus:ring-yellow-500 focus:border-yellow-500 sm:text-sm" />
    </div>

    <div class="form-group">
      <label for="commandes" class="block text-sm font-medium text-red-700">Commandes:</label>
      <input type="text" id="commandes" [(ngModel)]="restaurant.commandes" name="commandes" 
             class="mt-1 block w-full p-2 border border-red-300 rounded-md shadow-sm focus:ring-yellow-500 focus:border-yellow-500 sm:text-sm" />
    </div>

    <div class="form-group">
      <label for="serviceLivraison" class="block text-sm font-medium text-red-700">Service Livraison:</label>
      <input type="text" id="serviceLivraison" [(ngModel)]="restaurant.serviceLivraison" name="serviceLivraison" 
             class="mt-1 block w-full p-2 border border-red-300 rounded-md shadow-sm focus:ring-yellow-500 focus:border-yellow-500 sm:text-sm" />
    </div>

    <button type="submit" class="w-full inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-yellow-600 hover:bg-yellow-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500" [disabled]="!restaurantForm.form.valid">Ajouter</button>
  </form>
</div>
